* {
  color: seashell;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex {
  display: flex;
}

.header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  top: 0;
  left: 0;
}

#logo {
  margin-left: 10px;
}

.nav {
  padding: 10px;
  text-decoration: underline;
}

#navmarginright {
  margin-right: 10px;
}

#mission {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  margin-top: 69px;
  display: flex;
  align-items: center;
  background-image: url("images/img-mission-background.jpg");
}

#mission #title {
  background-color: black;
  width: 1200px;
}

#featured {
  padding: 70px 0 70px 0;
}

#featuredcat {
  width: 1000px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}

#title {
  display: block;
}

#locations {
  background-image: url(images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}

#locationsflex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.teasample {
  width: 300px;
  height: 200px;
  padding: 0 15px 0 15px;
}

.address {
  width: 300px;
  background-color: black;
  margin: 0 40px 0 40px;
  opacity: 1;
}

#footer {
  height: 200px;
}

#copyright{
  padding-left: 20px;
  text-align: left;
}
